# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# output of the go coverage tool
*.out

# Dependency directory
# vendor/

api

coverage.out
cover.xhtml